body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
}
#menu{
    font-family: 'Oswald', sans-serif;
    margin-right: 8%;
    height: 100px;
}
#menu a{
    float: right;
    padding-left: 20px;
    text-decoration: none;
}
h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
.text-color{
    color: tomato;
}
.half-width{
    width: 30%;
    margin-left: 5%;
    padding-left: 7%;
    float: left;
}
.half-width p{
    text-align: justify;
    color: brown;
}
.half-width img{
    width: 100%;
}
.half-width a{
    font-size: 12px;
    padding: 10px 30px;
}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-image: linear-gradient(45deg, tomato, rgb(131, 8, 55));
    border-radius: 5px;
}
#align{
    text-align: center;
}
.third-Section{
    background-color: whitesmoke;
    height: 600px;
}
.third-Section h1{
    padding-top: 3%;
}
.third-half{
    background-repeat: no-repeat;
    width: 26%;
    height: 25%;
    float: left;
    margin-left: 2%;
    padding: 1%;
    box-shadow: 10px 10px 40px rgb(236, 230, 230);
    margin-bottom: 3%;
    background-color: white;
    border-radius: 10px;
}
.main-div{
    margin-left: 7%;
}
.third-half img{
    width: 100%;
}
.third-half p{
    font-size: 14px;
}
.internal-half{
    padding: 2%;
}
.internal-half h3{
    font-family: 'Oswald', sans-serif;
}
#last-div{
    background-image: url("images/Group_33094_1.png");
    background-size: cover;
    width: 830px;
    height: 200px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 100px auto;
    color: white;
}
#last-div h1{
    padding-top: 15px;
    padding-left: 40px;
}
#last-div a{
    font-size: 12px;
    margin-left: 320px;
    padding: 20px 20px;
    background-image: linear-gradient(tomato, tomato);
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.contact{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.contact h3{
    color: gray;
}
.contact-div{
    margin-left: 37.5%;
    margin-right: 35.5%;
}
.single-div{
    float: left;
    padding: 0%;
}
.single-div img{
    width: 45%;
}